<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inserting Image Using img Tag</title>
    <style>
        .img {
            background: url('images/front_matter_2.jpg');
            width:100%;
            height: 200px;
            background-repeat: repeat;
            scale: 100%;
        }
    </style>
</head>
<body>
    <div class="img"></div>
    <h2>
        The Geargineer
    </h2>
</body>
</html>
